---
layout: default
---

<span class="date">{{ date | date: "%Y-%m-%d" }}</span>

<div>
  {{ content }}
</div>

<div class="hashtags">
  {% for tag in hashtags %}
  <span class="tag"> 
    #<span class="tag-body">{{ tag }}</span>
  </span>
  {% endfor %}
</div>

<div class="socials">
<ul>
Share this post on:
<li><a href="https://www.facebook.com/share.php?u={{ metadata.url }}:{{ page.url }}&title={{ title }}"><i class="fa fa-facebook-f"></i> Facebook</a></li>
<!-- <li><a href=""><i class="fa fa-instagram"></i> Instagram</a></li> -->
<li><a href="https://twitter.com/home/?status={{ title }}{{ site.url }}:{{ page.url }}"><i class="fa fa-twitter"></i> Twitter</a></li>
</ul>
</div>
