---
layout: default
---

<span class="date">{{ date }}</span>

<div>
  {{ content }}
</div>

<div class="socials">
<ul>
Share this post on:
<li><a href="https://www.facebook.com/share.php?u={{ page.url }}&title={{ title }}"><i class="fa fa-facebook-f"></i> Facebook</a></li>
<!-- <li><a href=""><i class="fa fa-instagram"></i> Instagram</a></li> -->
<li><a href="https://twitter.com/home/?status={{ title }}{{ page.url }}"><i class="fa fa-twitter"></i> Twitter</a></li>
</ul>
</div>