<!DOCTYPE html>
<html>
  {% if tab-title %}
  <title>{{ tab-title }}</title>
  {% else %}
  <title>{{ title }}</title>
  {% endif %}
  <meta charset="UTF-8">
  <meta name="description" content="{{ brief }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Design by Eric Schulte, source at https://github.com/eschulte/nuh. -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.4.0/css/all.css">
  <link rel="stylesheet" href="{{ "/style.css"|url }}">
  <link rel="icon" href="{{ "/favicon.ico" |url }}">
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <body class="w3-light-grey">

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
      <div class="w3-bar w3-white w3-card" id="myNavbar">
        <a href="{{ "/" | url }}" class="w3-bar-item w3-button w3-wide" onclick="navbar_hide()"><i class="nuh-icon"></i> NUH</a>
      </div>
    </div>
    <div style="padding-top:2em;">
    </div>

    <div class="w3-container form-wrap">

      <!-- Title with logo -->
      <div class="w3-display-container w3-wide w3-grayscale-min" id="home">
        <div class="vertical-container">
          <img alt="NUH Logo" class="logo w3-round" src="{{ "/img/NUH_logo_Idea.jpeg" | url }}">
          <div class="w3-hide-small">
            <h1 class="w3-huge w3-text-dark-gray title vertical-center">{{ title }}</h1>
          </div>
          <div class="w3-hide-large w3-hide-medium">
            <h1 class="w3-large w3-text-dark-gray title vertical-center">{{ title }}</h1>
          </div>
        </div>
      </div>

      <div class="w3-xlarge">
        {{ content | safe }}
      </div>
    </div>

    <p>
      <center>
        For more information and to get involved contact:
        <a href="mailto:2020nuh@gmail.com">2020nuh@gmail.com</a>
      </center>
    </p>
  </body>

  {% if script %}
  <script>
    {{ script }}
  </script>
  {% endif %}

</html>
